* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

body {
  background-color: aliceblue;
}

.card {
  background: hsla(172, 85%, 74%, 1);
  background: linear-gradient(
    45deg,
    hsla(172, 85%, 74%, 1) 0%,
    hsla(225, 60%, 67%, 1) 42%,
    hsla(319, 74%, 64%, 1) 100%
  );
  background: -moz-linear-gradient(
    45deg,
    hsla(172, 85%, 74%, 1) 0%,
    hsla(225, 60%, 67%, 1) 42%,
    hsla(319, 74%, 64%, 1) 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    hsla(172, 85%, 74%, 1) 0%,
    hsla(225, 60%, 67%, 1) 42%,
    hsla(319, 74%, 64%, 1) 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#83f5e5", endColorstr="#7A93DE", GradientType=1 );

  height: 10rem;
  width: 20rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

h1 {
  font-weight: 500;
  font-size: 1.5rem;
  color: #fff;
  font-family: poppins;
}

.outer-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
